body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: #242424;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

form {
    margin-bottom: 10px;
}

label {
    margin-top: 10px;
    display: block;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 3px;
    background-color: #cee5f0;
}

select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 3px;
    background-color: #cee5f0;
}

#scoreresult{
    margin-top: 13px;
    font-weight: bold;
    color: #45a049;
}
#ratingresult {
    margin-top: 10px;
    font-weight: bold;
    color: #45a049;
}

button {
    margin-top: 10px;
    padding: 10px 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    cursor: pointer;

    /* 添加圆角边框 */
    border-radius: 8px;

    /* 添加内阴影 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;

    /* 添加过渡效果，使变化更平滑 */
    transition: background-color 0.5s ease;

    /* 调整字体样式 */
    font-size: 16px;
    font-weight: bold;
    text-align: center;

    /* 调整按钮宽度，可以根据需要设置 */
    width: 100px;

    /* 调整按钮的高度，可以根据需要设置 */
    height: 40px;

}

button:hover {
    margin-top: 10px;
    background-color: #45a049;
}

#result {
    margin-top: 10px;
    font-weight: bold;
    color: #45a049;
    margin-left: 10px;
}

.flex-container {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* 如果需要垂直居中对齐 */
}

button,
label,
div {
    margin-right: 10px;
    /* 可选：为了让元素之间有一些间隔 */
}

#weightMinutes,
#weightSeconds {
    margin-right: 10px;
}

#yinti,
#yangwo,
#shexing {
    margin-right: 5px;
}


#yintiresult,
#yangworesult,
#shexingresult,
#sanqianresult {
    margin-top: 10px;
    font-weight: bold;
    color: #45a049;
    margin-left: 10px;
}

#countdiv {  
    margin-top: 10px;  
    font-weight: bold;  
    color: #45a049;  
    text-align: right; /* 设置文本靠右对齐 */  
    font-size: 10px; /* 假设你想将字体大小缩小到14像素，你可以根据需要调整这个值 */  
}